<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testsuite">
    <test name="ButtonClickTest">
        <classes>
            <class name="tests.ButtonClickTest"/>
        </classes>
    </test>
    <test name="AddRecordTest">
        <classes>
            <class name="tests.AddRecordTest"/>
        </classes>
    </test>
</suite>